fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn==23.0.0

transformers==4.41.2
torch==2.3.0
sentencepiece==0.2.0

llama-cpp-python==0.2.76

vosk==0.3.44

kokoro==0.4.0

numpy==1.26.4
soundfile==0.12.1
pydub==0.25.1

python-multipart==0.0.9

